.feels-like,
.humidity,
.wind-speed {
  display: flex;
  align-items: center;
  gap: 5px;
}

.humidity {
  margin: 20px 0;
}

.weather-details p {
  font-weight: 700;
  font-size: 18px;
}

.weather-details span {
  font-weight: 700;
}
